<!DOCTYPE html>
<html manifest="/cache.manifest">
<head>
    <title>@ViewBag.Title</title>

<body>
    <div class="page">

        <div id="header">
            <div id="title">
                <h1>My MVC Application</h1>
            </div>
            
         
        </div>

        <div id="main">
            @RenderBody()
            <div id="footer">
            </div>
        </div>
    </div>
</html>
