<?xml version="1.0" encoding="utf-8"?>

<hibernate-configuration  xmlns="urn:nhibernate-configuration-2.2" >
	<session-factory name="FrameworkDemo">
		<property name="connection.driver_class">NHibernate.Driver.SqlClientDriver</property>
		<property name="connection.connection_string">
			Server=.\sqlexpress;initial catalog=nhibernate;Integrated Security=SSPI
		</property>
		<property name="adonet.batch_size">10</property>
		<property name="show_sql">false</property>
		<property name="dialect">NHibernate.Dialect.MsSql2008Dialect</property>
		<property name="command_timeout">60</property>
		<property name="query.substitutions">1</property>
	</session-factory>
</hibernate-configuration>