<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <system.serviceModel>
    <services>
      <service name="G4.WcfService.Service.EmployeeService">
        <endpoint address="http://127.0.0.1:9001/Employees" binding="webHttpBinding" contract="G4.WcfService.Service.IEmployeeService"/>
      </service>
    </services>
  </system.serviceModel>
</configuration>
